.container {
  padding: 16px 20px 8px;
}

.card_wrapper {
  border: 1px solid var(--gray-scale-2);
  border-radius: 8px;

  display: flex;
  @media screen and (max-width: 680px) {
    display: block;
  }
}

.card_wrapper > li {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.card_wrapper > li:first-of-type > p {
  border-bottom-left-radius: 8px;
  @media screen and (max-width: 680px) {
    border-bottom-left-radius: 0;
  }
}

.card_wrapper > li:not(:last-of-type) {
  @media screen and (max-width: 680px) {
    border-bottom: 1px dotted var(--gray-scale-7);
  }
}

.card_wrapper > li:first-of-type > p {
  border-top-left-radius: 8px;
}

.card_wrapper > li:last-of-type > p {
  border-bottom-left-radius: 8px;
}

.card_wrapper > li > p {
  font-weight: bold;
  padding: 12px 20px;
  min-width: 96px;
  background-color: var(--gray-scale-11);
  text-align: center;
}

.card_wrapper > li > input {
  margin-right: 36px;
  text-align: right;
}

.card_wrapper > li > span {
  position: absolute;
  right: 12px;
}
