.container {
  padding: 0 20px 8px;
}

.card_wrapper {
  border: 1px solid var(--gray-scale-2);
  border-radius: 8px;
}

.card_wrapper > p {
  text-align: center;
  background-color: var(--gray-scale-11);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 12px 20px;
  font-weight: bold;
  border-bottom: 1px solid var(--gray-scale-7);
}

.card_wrapper > ul {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 12px;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 330px) {
    grid-template-columns: repeat(1, 1fr);
  }
  overflow: auto;
}

.card_wrapper > ul > li {
  display: grid;
  place-items: center;
  position: relative;
  width: fit-content;
}
