@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply text-gray2;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: keep-all;
  font-family: 'Pretendard', sans-serif;
}

li {
  list-style: none;
}

input {
  outline: none;
  width: 100%;
  font-size: 18px;
}
textarea {
  padding: 8px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  resize: none;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--gray-scale-4);
}

/* 기본 스타일 제거 */
input[type='file'] {
  appearance: none; /* 브라우저 기본 스타일 제거 */
  -webkit-appearance: none; /* 웹킷 브라우저용 */
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  outline: none;
}

/* 커스텀 스타일 (예시) */
input[type='file']::file-selector-button {
  display: none; /* 기본 버튼 숨기기 */
}

img {
  vertical-align: middle;
}
