.container {
  padding: 16px 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color-1);
  height: 56px;
  color: var(--gray-scale-12);
  font-weight: 500;
  font-size: 16px;
  transition: background 0.3s;
}

.container:disabled {
  background-color: var(--gray-scale-7);
}

.isFull {
  width: 100%;
}
