html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border-color: black;
  border-radius: 8px;
  background-color: transparent;
  padding: 8px 12px;
}
