html {
  --gray-scale-1: #000000;
  --gray-scale-2: #282a2e;
  --gray-scale-3: #3c3e42;
  --gray-scale-4: #5a5c60;
  --gray-scale-5: #96989c;
  --gray-scale-6: #bec0c4;
  --gray-scale-7: #dddfe2;
  --gray-scale-8: #e7e9ec;
  --gray-scale-9: #eceef1;
  --gray-scale-10: #f1f3f6;
  --gray-scale-11: #f6f8fb;
  --gray-scale-12: #ffffff;
  --primary-color-1: #ff6d62;

  --secondary-color-1: #29d1ff;
  --secondary-color-2: #276dae;
  --secondary-color-3: #0f88c8;
  --secondary-color-4: #28aeed;
  --secondary-color-5: #54daff;
  --secondary-color-6: #7fe3ff;
  --secondary-color-7: #a9edff;
  --secondary-color-8: #d4f6ff;
  --secondary-color-9: #eafaff;

  --systemred-color-1: #ff3830;
  --systemred-color-2: #d71308;
  --systemred-color-3: #ff6d62;
  --systemred-color-4: #ffcdc6;
  --systemred-color-5: #fff2f0;

  --systemgreen-color-1: #34c759;
  --systemgreen-color-2: #16a93b;
  --systemgreen-color-3: #5dd57b;
  --systemgreen-color-4: #86df9c;
  --systemgreen-color-5: #c2efce;
  --systemgreen-color-5: #ebfaef;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

button {
  border-color: black;
  border-radius: 8px;
  background-color: transparent;
  padding: 8px 12px;
}

li {
  list-style: none;
}

input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
}
textarea {
  padding: 8px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  resize: none;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--gray-scale-4);
}

/* 기본 스타일 제거 */
input[type="file"] {
  appearance: none; /* 브라우저 기본 스타일 제거 */
  -webkit-appearance: none; /* 웹킷 브라우저용 */
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  outline: none;
}

/* 커스텀 스타일 (예시) */
input[type="file"]::file-selector-button {
  display: none; /* 기본 버튼 숨기기 */
}

img {
  vertical-align: middle;
}
