.page {
  width: 100%;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.header {
  padding: 20px 24px;
  border-bottom: 1px solid black;
}

.inner {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 780px;
  padding: 24px;
}

.inner > span {
  display: flex;
  align-items: center;
  height: 26px;
}

.inner > p {
  font-weight: bold;
  font-size: 20px;
}

.button_wrapper {
  margin-top: 40px;
}

.button_wrapper > :not(:last-of-type) {
  margin-right: 8px;
}

.check_wrapper {
  border-top: 1px solid beige;
  border-bottom: 1px solid beige;
  padding: 32px 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.check_wrapper > li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.check_wrapper > li > div > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.check_wrapper > li > div:first-of-type {
  min-width: 140px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.stop_button {
  border-color: transparent;
  background-color: red;
  color: wheat;
}

.reset_button {
  border-color: transparent;
  background-color: greenyellow;
}
