.page {
  width: 100%;
  max-width: 1024px;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
  margin: 0 auto;
}

.description_wrapper {
  padding: 8px 20px 20px;
}

.description_wrapper > li {
  display: flex;
  gap: 6px;
  font-size: 13px;
  color: var(--gray-scale-3);
}
.description_wrapper > li::before {
  content: "▶︎";
}

.description_wrapper > li:not(:last-of-type) {
  margin-bottom: 4px;
}

.privacy {
  padding: 0 20px;
  font-size: 13px;
  color: var(--gray-scale-3);
}

.customer_signature {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 40px;
}

.customer_signature > div {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-scale-2);
  border-radius: 8px;
}

.customer_signature > div > p {
  background-color: var(--gray-scale-11);
  padding: 8px;
  font-size: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.customer_signature > div > input {
  padding: 0 20px;
  font-size: 12px;
}

.homepage {
  text-align: center;
  margin-bottom: 40px;
  color: var(--gray-scale-5);
}

.transcript {
  padding: 0 20px;
  font-size: 16px;
}
